body
{
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: #252525;
  color:white;
}

#header-container
{
  height: 300px;
  align-content: center;
  position: relative;
}

#header-title
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

#header-title h1
{
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ombre pour rendre le texte plus lisible */
}

#slider-container
{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

/* Bannière contenant les parallélogrammes */
#slider
{
    position: relative;
    height: 100%;
}

/* Parallélogramme contenant les images */
.parallelogram {
    position: absolute;
    width: 500px;
    height: 300px;
    overflow: hidden;
    transform: skewX(-45deg); /* Crée le parallélogramme */
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallelogram img {
    width: 800px;
    height: 300px;
    object-fit: cover;
    transform: skewX(45deg); /* Annule l'effet de déformation de l'image */
}

.timeline {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#timeline-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
  padding: 20px 0;
}

.timeline-btn {
  background-color: black;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 100px;
}

.timeline-btn img {
  max-width: 100px; /* Limite la largeur maximale */
  max-height: 100px; /* Limite la hauteur maximale */
  width: auto;
  height: auto;
}

.timeline-btn:hover {
  background-color: #444444;
}

.timeline-btn.active {
  background-color: #e74c3c;
}

.timeline-btn:focus {
  outline: none;
}

/* Style pour afficher les projets */
.project-details {
  text-align: center;
  padding: 20px;
}

#project-header
{
  box-sizing: border-box;
  font-size: 6em;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 300px;
  background-size: cover;
  margin-block-start: 0;
  margin-block-end: 0;
}

#project-header>h2
{
  margin-block-start: 0;
  margin-block-end: 0;
}

#project-summary
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
  gap: 50px;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#project-summary>div
{
  flex: 1 1;
  text-align: center;
}

#project-summary p
{
  //text-align: center;
}

#project-summary .poster
{
  height: 500px;
  width: auto;
}

#project-description
{
  width: calc(100% - 40px);
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.icons
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.icons img
{
  height: 50px;
  flex: 0 1;
  text-align: center;
}

.right-aligned-content-container, .left-aligned-content-container
{
  display:flex;
  flex-wrap: wrap;
  height:500px;
  align-items: center;
  gap: 100px;
}

.right-aligned-content-container
{
  justify-content: flex-end;
}

.left-aligned-content-container
{
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.right-aligned-content-container>div, .left-aligned-content-container>div
{
  flex: 1 1;
}

.right-aligned-content-container img, .left-aligned-content-container img,
.right-aligned-content-container video, .left-aligned-content-container video,
.right-aligned-content-container iframe, .left-aligned-content-container iframe
{
  height:450px;
  width: 800px;
}

.right-aligned-content-container p, .left-aligned-content-container p
{
  vertical-align: middle;
  text-align: center;
}

/* Animation de transition */
.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
