body
{
  font-family: system-ui, sans-serif;
  margin: 0px;
  background-color: #252525;
  color:white;
}

footer
{
  background-color: #1C1C1C;
  padding:20px;
  margin-top: 50px;
}

footer>div
{
  display: flex;
  flex-direction: column;
  height: 300px;
}

.work-section-container
{
  display: flex;
  flex-direction: row;
  grid-gap: 40px;
}

.work-section
{
  display: flex;
  flex-direction: column;
}

.work-section a:link, .work-section a:visited
{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.work-section a:hover
{
  color: white;
  text-decoration: underline;
}

.hidden
{
  display: none;
  height: 0px;
}

.pp-container
{
  position: absolute;
  top: 180px;
  left: 10%;
  width: fit-content;
  height: fit-content;
  background-color: #252525;
  border-radius: 50%;
}

.pp
{
  top: 200px;
  left: 250px;
  height: 200px;
  width: auto;
  padding: 20px;
  border-radius: 50%;
}

.title-separator
{
  height: 300px;
  align-content: center;
  background-position: center;
}

.title-separator>h2
{
  text-align: center;
  font-size: 3em;
}

.content-separator
{
  min-height: 300px;
  align-content: center;
}

.content-separator>p
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hire
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#hire p
{
  text-align: center;
}

#hire-button-container
{
  display: flex;
  flex-wrap: nowrap;
}

#hire-yes, #hire-no
{
  border-radius: 20px;
  width: 200px;
  height: 60px;
  border: none;
  margin: 20px;
}

#hire-yes
{
  background-color: #00AA00;
}

#hire-no-container, #hire-yes-container
{
  width: fit-content;
  height: fit-content;
}

#hire-no
{
  background-color: #AA0000;
}

#hire-yes:hover
{
  background-color: #008800;
}

#hire-no:hover
{
  background-color: #880000;
}

#hire-yes:active
{
  background-color: #006600;
}

#hire-no:active
{
  background-color: #660000;
}

.unfold
{
  max-height: 500px !important;
}

#contact-me
{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 1s ease;
}

#presentation-container
{
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 150px;
  margin-bottom: 150px;
}

#presentation-container>p
{
  text-align: center;
  font-size: 2em;
  margin: 0;
}

#header-container
{
  height: 300px;
  align-content: center;
  position: relative;
}

#header-title
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

#header-title h1
{
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ombre pour rendre le texte plus lisible */
}

#slider-container
{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

/* Bannière contenant les parallélogrammes */
#slider
{
    position: relative;
    height: 100%;
}

/* Parallélogramme contenant les images */
.parallelogram {
    position: absolute;
    width: 500px;
    height: 300px;
    overflow: hidden;
    transform: skewX(-45deg); /* Crée le parallélogramme */
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallelogram img {
    width: 800px;
    height: 300px;
    object-fit: cover;
    transform: skewX(45deg); /* Annule l'effet de déformation de l'image */
}

.timeline {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#timeline-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
  padding: 20px 0;
}

.timeline-btn {
  background-color: black;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 100px;
}

.timeline-btn img {
  max-width: 100px; /* Limite la largeur maximale */
  max-height: 100px; /* Limite la hauteur maximale */
  width: auto;
  height: auto;
}

.timeline-btn:hover {
  background-color: #444444;
}

.timeline-btn.active {
  background-color: #e74c3c;
}

.timeline-btn:focus {
  outline: none;
}

/* Style pour afficher les projets */
.project-details {
  text-align: center;
  padding: 20px;
}

#project-header-static
{
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 300px;
  margin-block-start: 0;
  margin-block-end: 0;
  background-image: url("resources/static.webp");
  background-repeat: repeat;
  background-size: contain;
}

#project-header
{
  position: absolute;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin-block-start: 0;
  margin-block-end: 0;
}

#project-title
{
  position: absolute;
  font-size: 6em;
  margin-block-start: 0;
  margin-block-end: 0;
}

#project-summary
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
  gap: 50px;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#project-summary>div
{
  flex: 1 1;
  text-align: center;
}

#project-summary p
{
  text-align: center;
}

#project-summary .poster
{
  height: 500px;
  width: auto;
}

#project-description
{
  width: calc(100% - 40px);
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.icons
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.icons img
{
  height: 50px;
  flex: 0 1;
  text-align: center;
}

.right-aligned-content-container, .left-aligned-content-container
{
  display:flex;
  flex-wrap: wrap;
  height:500px;
  align-items: center;
  gap: 100px;
  padding-top: 20px;
}

.right-aligned-content-container
{
  justify-content: flex-end;
}

.left-aligned-content-container
{
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.right-aligned-content-container>div, .left-aligned-content-container>div
{
  flex: 1 1;
  overflow: hidden;
  vertical-align: middle;
}

.content-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 800px;
}

.content-container img, .content-container img,
.content-container video, .content-container video,
.content-container iframe, .content-container iframe
{
  max-width: 800px;
  max-height: 450px;
}

.content-container iframe
{
  width: 800px;
  height: 450px;
}

.right-aligned-content-container p, .left-aligned-content-container p
{
  text-align: center;
}

.carousel-container
{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.carousel>button
{
  z-index: 10;
}

.carousel
{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  width: 800px;
  height: 100%;
  overflow: hidden;
}

.next-button .previous-button .carousel-displayer
{
  flex: 1 1;
}

.previous-button
{
  background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(37,37,37,0.7567401960784313) 35%, rgba(37,37,37,0) 100%);
  border: none;
}

.next-button
{
  right: 0px;
  background: linear-gradient(90deg, rgba(37,37,37,0) 0%, rgba(37,37,37,0.7567401960784313) 65%, rgba(37,37,37,1) 100%);
  border: none;
}

.carousel-displayer
{
  display: flex;
  flex-wrap: nowrap;
}

.previous-button, .next-button
{
  position: absolute;
  width: 100px;
  height: 100%;
  opacity: 50%;
  transition-duration: 0.2s;
}

.previous-button:hover, .next-button:hover
{
  position: absolute;
  width: 100px;
  height: 100%;
  opacity: 100%;
  transition-duration: 0.2s;
}

button p
{
  opacity: 100%;
  font-size: 3em;
  color: white;
}

/* Animation de transition */
.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
